.btn {
  padding: 10px 15px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: 1px solid red;
}

.btn:hover {
  background-color: rgb(164, 32, 32);
}
.navLink {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  color: #fff;
}
